{% extends "base.html" %}

{% block title %}{{ view_type }}Password reset form{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Home</h4-->
{% endblock navbar %}
{% block body %}
<div class="container">
    <div class="row-fluid cont_brdr view bg_white">
        <div class="span12">
			<form class="form-horizontal" action="" method="post">
				<legend><span class="ML10">Reset Password</span></legend>
			    {% csrf_token %}
			    <div class="ML10">
			    	<p>Forgotten your password? <br/>Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
				</div>
			    <div class="control-group">
					<label class="control-label" for="email">E-mail address:</label>
					<div class="controls">
						<!-- {{ form.email }} -->
						<input id="id_email" type="email" name="email" maxlength="75" placeholder="Email" />
						{% if form.email.errors %}
							<div class="text-error">{{ form.email.errors }}</div>
						{% endif %}
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
					<label></label>
					<input type="submit" class="btn btn-primary" value="Reset my password">
					<a href="{% url login %}" class="btn">Cancel</a>
					</div>
				</div>
				</p>
			</form>
        </div>
    </div>
</div>
{% endblock body %}