{% extends "base.html" %}

{% block title %}{{ view_type }}Setting new password{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Home</h4-->
{% endblock navbar %}
{% block body %}
<div class="container">
	<div class="row-fluid cont_brdr view bg_white">
		<div class="span12">
			<form class="form-horizontal" action="" method="post">
			    {% csrf_token %}
			    {% if validlink %}
			    	<legend><span class="ML10">Set New Password</span></legend>
			        <p class="ML10">Please enter your new password twice. So we can verify you typed it in correctly.</p>
			        <div class="control-group">
						<label class="control-label" for="new_password1">New Password:</label>
						<div class="controls">
							<input type="password" name="new_password1" id="id_new_password1" required />
							<div class="text-error">{{ form.new_password1.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">Confirm New Password:</label>
						<div class="controls">
							<input type="password" name="new_password2" id="id_new_password2" required />
							<div class="text-error">{{ form.new_password2.errors }}</div>
						</div>
					</div>
			    {% else %}
			    	<legend><span class="ML10">Password reset unsuccessful!!!</span></legend>			    	
			    	<div class="ML10">
				        <p>The password reset link was invalid, possibly because it has already been used. <br/>
				           Please request a new <a href="{% url password_reset %}">password reset</a>.</p>
				    </div>
			    {% endif %}
			    <div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
						<input type="submit" value="Change my password" class="btn btn-primary"></button>
					</div>
				</div>  
			</form>
		</div>
	</div>
</div>
{% endblock body %}