/*Colors:
pink: #ff8598
blue: #89d4fd
green: #c7fe8a
yellow: #fff18b*/
@font-face{
	font-family: BirthOfHero;
	src: url('/static/fonts/BIRTH_OF_A_HERO.ttf');
}
@font-face{
	font-family: VAL;
	src: url('/static/fonts/VAL.otf');
}
@font-face{
	font-family: RipeSemibold;
	src: url('/static/fonts/ripesemibold.otf');
}
body{
	background: #ececec url('/static/img/bg.jpg') repeat;
	/*font-family: 'Marko One', serif;*/
	/*font-family: 'Faster One', cursive;*/
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	font-family: 'Ubuntu', sans-serif;
}
ul{ list-style-type: none;}

.MA15{ margin: 15px;}
.MT10{ margin-top: 10px;} .MT50{ margin-top: 50px !important;}
.MR10{ margin-right: 10px; }
.MB10{ margin-bottom: 10px;}
.ML10{ margin-left: 10px;}
.MR15{ margin-right: 15px;}
.TC{ text-align: center;}
.FL{ float: left;} .FR{ float: right;}
.cont_brdr{
	border: 1px solid #eee;
	padding: 10px 0;
	border-radius: 5px;
}
#wrapper{
	/*overflow: hidden;*/
}
#wrapper .view{
	margin: 20px 0 10px 0;
	padding: 10px 0;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
#wrapper .view > .title, #wrapper .plain_view > .title{
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin: 0 40px;
	padding: 10px;
	text-shadow:0px 2px 5px #000;
}
#wrapper > .container{
	width: 85%;
}

/*Logo bar*/
#wrapper .logo_bar{
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	padding: 10px 15px;
}
#wrapper .logo_bar .logo{
	color: rgb(146, 20, 20);
	font-size: 30px;
	font-weight: bold;
	margin: 0 15px;
	float: left;
}
#wrapper .logo_bar .logo img{
	width: 250px;
}
#wrapper .logo_bar .logo > span{
	padding: 15px 0;
	display: inline-block;
}

#wrapper .logo_bar .navbar-inner{
	background: none;
	border: none;
	box-shadow: none;
}
/*Nav bar*/
#wrapper .navbar{
	margin:0;
}
#wrapper > .navbar-inverse .container{
	width: 97%;
	margin: 0 1.5%;
}
#wrapper .navbar-inner{
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
#wrapper > .navbar-inverse .brand, #wrapper > .navbar-inverse .nav > li > a{
	color: rgb(155, 250, 51);
	font-size: 20px;
	font-family: 'BirthOfHero';
	letter-spacing: 1px;
}
#wrapper .navbar-inverse .nav > li.username > a{
	color: #89d4fd;
}
#wrapper .navbar-inverse .brand, #wrapper > .navbar-inverse .nav > li > a.active{
	color: #fff;
}
/*Splash page*/
.splash_view {
	font-family: "Andika";
	font-size: 36px;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	/*margin-top: -19px;
	padding: 180px;*/
	text-align: center;
	text-shadow: 1px 1px 1px black;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view .splash{
	background: #000 url('/static/img/splash/collage1.jpg') no-repeat center center;
	background-size: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view h1{ margin-top: 100px; position: relative;}
.splash_view .enter_btn{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -70px;
}
.action_bar{
	background: rgb(100, 100, 100);
	overflow: hidden;
	width: 100%;
	z-index: 99;
	/*position: fixed;*/
	padding: 8px 0 5px 0;
	/*top:41px;*/
}
.action_bar select, .action_bar input[type='text']{
	width: 80%;
}
.action_bar .add-on{
	background: #000;
	color: #fff;
	text-shadow:none;
}
/*.action_bar select{
	margin: 0 10px;
}*/
/*Game list*/
.thumb{
	width: 150px;
	height: 200px;
	float: left;
	box-shadow: -5px 5px 10px;
	-webkit-box-shadow: -5px 5px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: -5px 5px 10px rgba(0,0,0,0.7);
}
.extra_info{
	margin: 10px 0 0;
	float: left;
}
.extra_info li{
	color: #555;
	font-size: 15px;
}
.extra_info li .term{
	color: rgb(53, 44, 44);
	font-weight: bold;
	font-size: 12px;
}

.gamelist{
	padding: 15px;
	margin-bottom: 15px;
}
.gamelist .game{
	background: #fff;
	box-shadow: 2px 2px 10px;
	-webkit-box-shadow: 2px 2px 10px;
	-moz-box-shadow: 2px 2px 10px;
	margin: 20px 0;
	padding: 10px 0;
}
.gamelist .game .details{
	padding: 5px 0;
	width: 45%;
}
.gamelist .game .thumbnail{
	border: 4px solid #aaa;
	height: 160px;
	margin-right: 10px;
	width: 120px;
}
.gamelist .game .title a{
	color: #d3222a;
	font-family: 'Marko One', cursive;
	font-size: 18px;
	margin: 10px 0 0;

}
.gamelist .game .rating span{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 5px;
	margin: 5px;
	background: rgba(247, 22, 22, 0.8);
}
.gamelist .game input[type="checkbox"]{
	-ms-transform: scale(2.5); /* IE */
	-moz-transform: scale(2.5); /* FF */
	-webkit-transform: scale(2.5); /* Safari and Chrome */
	-o-transform: scale(2.5); /* Opera */
	margin: 20px 15px;
}

.mygamelist{
	background: #fff;
	box-shadow: -2px 0px 10px;
	-webkit-box-shadow: -2px 0px 10px;
	-moz-box-shadow: -2px 0px 10px;
}
.mygamelist .game{
	border-bottom: 2px solid #eee;
	box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/*Game Details*/
/*.plain_view{
	padding: 40px 0 0 0;
}*/
.plain_view .banner{
	margin: 0 0 35px 0;
	box-shadow: 0 10px 20px;
	-webkit-box-shadow: 0 10px 20px;
	-moz-box-shadow: 0 10px 20px;
}
.plain_view .banner img{
	width: 100%;
	height: auto;
}
.left_cont{ 
	margin: 0 30px;
	width: 60%;
}
.left_cont .tabs_cont{
	border-bottom: 1px solid #eee;
	margin: 10px 0 0;
	padding-left:10px;
}
.left_cont .tabs_cont .nav-tabs{
	margin: 0;
	border-bottom: none;
}
.left_cont .tabs_cont .nav-tabs>.active>a, .left_cont .tabs_cont .nav-tabs>.active>a:hover{
	box-shadow: -1px -2px 4px;
	-webkit-box-shadow: -1px -2px 4px;
	-moz-box-shadow: -1px -2px 4px;
}
.game_container .title{
	color: #d3222a;
	font-weight: bold;
	font-family: 'Marko One', cursive;
	font-size: 30px;
	line-height: 40px;
}
.game_container .head{
	border-bottom: 2px rgb(204, 5, 5) solid;
	color: rgb(53, 44, 44);
	/*font-family: 'Faster One', cursive;*/
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0;
	text-indent: 10px;
}
.game_container .extra_info li{
	width: 46%;
	padding: 5px;
	float: left;
}
.game_container .desc_row{
	padding: 15px 10px;
	font-size: 18px;
	line-height: 28px;
	overflow: hidden;
	text-align: justify;
}
.game_container .screens .thumbs .thumb{
	border: 4px solid #aaa;
	height: 168px;
	margin: 5px;
	width: 298px;
}
.footer {
	margin-top: 30px;
	padding-top: 10px;
	color: #999;
	border-top: solid 1px #DDD;
}