/*Colors:
pink: #ff8598
blue: #89d4fd
green: #c7fe8a
yellow: #fff18b*/
@font-face{
	font-family: BirthOfHero;
	src: url('/static/fonts/BIRTH_OF_A_HERO.ttf');
}
@font-face{
	font-family: VAL;
	src: url('/static/fonts/VAL.otf');
}
@font-face{
	font-family: RipeSemibold;
	src: url('/static/fonts/ripesemibold.otf');
}
body{
	/*font-family: 'Marko One', serif;*/
	/*font-family: 'Faster One', cursive;*/
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	font-family: 'Ubuntu', sans-serif;
	color: #444;
}
ul{ list-style-type: none;}

.MA15{ margin: 15px;}
.MT10{ margin-top: 10px;} .MR10{ margin-right: 10px; } .MB10{ margin-bottom: 10px;} .ML10{ margin-left: 10px;}
.MR15{ margin-right: 15px;}
.TC{ text-align: center;}
.FL{ float: left;} .FR{ float: right;}
.cont_brdr{
	border: 1px solid #eee;
	padding: 10px 0;
	border-radius: 5px;
}
#wrapper{
	/*overflow: hidden;*/
}
#wrapper .view{
	margin: 50px 0 10px 0;
	padding: 10px 0;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
#wrapper .view > .title{
	color: #868d94;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 24px;
	padding: 0 0 10px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
	color: rgb(155, 250, 51);
	font-size: 22px;
	font-family: 'BirthOfHero';
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a.active{
	color: #fff;
}
/*Splash page*/
.splash_view {
	font-family: "Andika";
	font-size: 36px;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -19px;
	padding: 180px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view .splash{
	background: #000 url('/static/img/splash/collage1.jpg') no-repeat center center;
	background-size: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view h1{ margin-top: 100px; position: relative;}
.splash_view .enter_btn{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -70px;
}
.action_bar{
	background: rgba(11, 79, 85, 0.7);
	overflow: hidden;
	width: 100%;
	/*color: #fff;*/
	padding: 10px 0;
	box-shadow:0 0 20px rgba(0,0,0,0.5)
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.5)
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.5)
}
/*.action_bar select{
	margin: 0 10px;
}*/
/*Game list*/
.thumb{
	width: 150px;
	height: 200px;
	float: left;
}
.extra_info{
	margin: 10px 0 0;
	float: left;
}
.extra_info li{
	color: #555;
	font-size: 14px;
}
.extra_info li .term{
	color: #848484;
	font-weight: bold;
	font-size: 12px;
}

.gamelist{
	padding: 15px;
}
.gamelist .game{
	border-bottom: 1px dashed #ccc;
	padding: 10px 0; 
}
.gamelist .game .thumbnail{
	margin-right: 10px;
	width: 120px;
	height: 160px;
}
.gamelist .game .title{
	font-size: 16px;
	margin: 10px 0 0; 
}
.gamelist .game .rating span{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 5px;
	margin: 5px;
	background: rgba(247, 22, 22, 0.8);
}
.gamelist .game input[type="checkbox"]{
	-ms-transform: scale(2.5); /* IE */
	-moz-transform: scale(2.5); /* FF */
	-webkit-transform: scale(2.5); /* Safari and Chrome */
	-o-transform: scale(2.5); /* Opera */
	margin: 20px 15px;
}
/*Game Details*/
.game_container{ 
	margin: 0 auto;
	width: 800px;
}
.game_container .title{
	color: #d3222a;
	font-weight: bold;
	font-family: 'Marko One', cursive;
	font-size: 30px;
	line-height: 40px;
}
.game_container .head{
	border-bottom: 2px rgb(204, 5, 5) solid;
	color: rgba(53, 44, 44, 0.8);
	font-family: 'Faster One', cursive;
	font-size: 20px;
	margin: 15px 0;
	text-indent: 10px;
}
.game_container .extra_info li{
	width: 46%;
	padding: 5px;
	float: left;
}
.game_container .desc_row{
	padding: 15px 10px;
	font-size: 18px;
	line-height: 28px;
	overflow: hidden;
}
.game_container .screenshots .thumbs img{
	width: 300px;
	height: 168px;
}
.footer {
	margin-top: 30px;
	padding-top: 10px;
	color: #999;
	border-top: solid 1px #DDD;
}