body{
	/*font-family: 'Marko One', serif;*/
	/*font-family: 'Faster One', cursive;*/
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	font-family: 'Ubuntu', sans-serif;
	color: #444;
}
ul{ list-style-type: none;}

.MA15{ margin: 15px;}
.MT10{ margin-top: 10px;} .MR10{ margin-right: 10px; } .MB10{ margin-bottom: 10px;} .ML10{ margin-left: 10px;}
.TC{ text-align: center;}
.FL{ float: left;} .FR{ float: right;}
.cont_brdr{
	border: 1px solid #eee;
	padding: 10px 0;
	border-radius: 5px;
}
#wrapper{
	overflow: hidden;
}
#wrapper .view{
	margin-top: 50px;
	padding: 10px 0;
}
#wrapper .view > .title{
	color: #868d94;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 24px;
	padding: 0 0 10px;
}
/*Splash page*/
.splash_view {
	font-family: "Andika";
	font-size: 36px;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -19px;
	padding: 180px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view .splash{
	background: #000 url('/static/images/splash/collage1.jpg') no-repeat center center;
	background-size: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0;
	height: 100%;
}
.splash_view h1{ margin-top: 100px; position: relative;}
.splash_view .enter_btn{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -70px;
}


/*Game list*/
.extra_info{
	margin: 10px 0 0;
	float: left;
}
.extra_info li{
	color: #555;
	font-size: 14px;
}
.extra_info li .term{
	color: #848484;
	font-weight: bold;
	font-size: 12px;
}

.gamelist{
	padding: 15px;
}
.gamelist .game{
	border-bottom: 1px dashed #ccc;
	padding: 10px 0; 
}
.gamelist .game .thumbnail{
	margin-right: 10px;
}
.gamelist .game .title{
	font-size: 16px;
	margin: 10px 0 0; 
}
.gamelist .game .rating span{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 5px;
	margin: 5px;
	background: rgba(247, 22, 22, 0.8);
}

/*Game Details*/
.game_container{ 
	margin: 0 auto;
	width: 600px;
}
.game_container .title{
	color: #d3222a;
	font-weight: bold;
	font-family: 'Marko One', cursive;
	font-size: 30px;
}
.game_container .head{
	border-bottom: 2px rgba(204, 5, 5, 0.7) solid;
	color: rgba(53, 44, 44, 0.8);
	font-family: 'Faster One', cursive;
	font-size: 20px;
	margin: 15px 0;
	text-indent: 10px;
}
.game_container .extra_info li{
	width: 46%;
	padding: 5px;
	float: left;
}
.game_container .overview{
	padding: 15px 10px;
	font-size: 18px;
	line-height: 28px;
	overflow: hidden;
}
.footer {
	margin-top: 30px;
	padding-top: 10px;
	color: #999;
	border-top: solid 1px #DDD;
}