{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Login</h4-->
{% endblock navbar %}
{% block body %}
	<div class="container">
		<div class="row-fluid">
			<div class="login_view view bg_white">
				<form class="form-horizontal" method="post">
					{% csrf_token %}

					<div class="control-group">
						<label class="control-label" for="username">Email</label>
						<div class="controls">
							<input type="text" id="username" name="username" placeholder="Email" required />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
						<input type="password" id="password" name="password" placeholder="Password" required />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label></label>						
							<a href="{% url password_reset %}">Forgot password?</a>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						<label></label>
						<button type="submit" class="btn btn-primary pull-left">Login</button>
						<span class="pull-left ML10 MT5 f15 bold">OR</span>
						<div id="facebook_login">
							<a href="{% url facebook %}">login with <span>facebook</span></a>
						</div>
						</div>
					</div>
					{% if form.non_field_errors %}
						<div class="alert alert-error">
							{{ form.non_field_errors }}
						</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock body%}