{% load active %}
{% load google_analytics %}
<!DOCTYPE html>
<html>
    <head>  
        <title>{% block title %}Base Title{% endblock title %}</title>
        <meta name="description" content="iCheckgames is one place for you to explore and track all your favorite games you have played or want to play on all the available gaming platforms like Xbox 360, PS3, Wii, PC, 3DS, PS Vita and more.">   
        {% block head %}
            <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css" />
            <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

            <link href='http://fonts.googleapis.com/css?family=Marko+One' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        {% endblock head %}
        {% google_analytics %}
    </head>
    <body>
        <div id="wrapper">
            <!-- <div class="logo_bar">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="logo"><a href="{% url gamelist %}"><img src="/static/img/cooltext_logo.png" width="150" /></a></div>
                            <ul class="nav pull-right">
                                {% if user.is_authenticated %}
                                    <li class="username"><a href="{% url home %}">{{ user.username }}</a></li>
                                    <li class="divider-vertical"></li>
                                    <li><a href="{% url logout %}">Log out</a></li>
                                {% else %}
                                    <li><a class="pull-right {% navactive request 'login' %}" href="{% url login %}">Login</a></li>
                                    <li><a class="pull-right {% navactive request 'usercreate' %}" href="{% url usercreate %}">Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="logo_bar">
                <div class="logo"><img src="/static/img/cooltext_logo.png" /><span class="logo_i">i</span><span class="logo_check">&#10004;Check</span><span class="logo_games">games</span></div>
            </div> -->
            <div class="header">
                <div class="container">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class="brand" href="{% url gamelist %}"><!-- iCheckgames --><img src="/static/img/logo.png" /></a>
                                <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                <div class="nav-collapse collapse">
                                    <ul class="nav nav-pills">
                                        <li class="{% navactive request 'home' %}"><a href="{% url home %}">Home</a></li>
                                        <li class="{% navactive request 'platformlist' %}"><a href="{% url platformlist %}">Platforms</a></li>
                                        <li class="{% navactive request 'gamelist' %}"><a href="{% url gamelist %}">Games</a></li>
                                        {% if user.is_authenticated %}
                                            <li class="{% navactive request 'mygamelist' %}"><a href="{% url mygamelist %}">My Games</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <ul class="nav pull-right">
                                    {% if user.is_authenticated %}
                                        <li class="username"><a href="{% url home %}">{{ user.username }}</a></li>
                                        <li class="divider-vertical"></li>
                                        <li><a href="{% url logout %}">Log out</a></li>
                                    {% else %}
                                        <li class="{% navactive request 'login' %}"><a class="pull-right" href="{% url login %}">Login</a></li>
                                        <li class="{% navactive request 'usercreate' %}"><a class="pull-right" href="{% url usercreate %}">Register</a></li>
                                    {% endif %}
                                </ul>
                                {% block navbar %}
                                {% endblock navbar %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block body %}
            {% endblock body %}
            <div class="container">
                 {% if messages %}
                    <div class="messages MT10">
                        {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <!-- Modal -->
            <div id="Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="ModalLabel">Modal header</h3>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Save changes</button>
                </div>
            </div>

            <!-- Notifications -->
            <div id="notify_container"></div>
        </div>
        <div class="footer">
            <div class="container">
                <ul class="nav nav-pills pull-left">
                    <li><a href="#">About</a></li>
                    <li><a href="{% url privacypolicy %}">Privacy Policy</a></li>
                    <li><a href="{% url terms %}">Terms &amp; Conditions</a></li>
                    <li><a href="mailto:gamescheckers@gmail.com">Contact us</a></li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li><a href="http://thegamesdb.net" target="blank">thegamesdb.net</a></li>
                </ul>
            </div>
        </div>
        {% block bottom_javascript%}
            <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
            <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.preloader.js"></script>
            <script type="text/javascript" src="/static/js/utils.js"></script>
            <script type="text/javascript" src="/static/js/main.js"></script>
            <script type="text/javascript"> 
                var _urq = _urq || []; 
                _urq.push(['setGACode', 'UA-42288126-1']);
                _urq.push(['initSite', 'a2cd4a24-710c-43a6-8c51-ad9da4fd6ebd']); 

                (function() { 
                    var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true; 
                    ur.src = ('https:' == document.location.protocol ? 'https://d1chfpa9hnx6ug.cloudfront.net/userreport.js' : 'http://sdscdn.userreport.com/userreport.js'); 
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s); 
                })(); 
                </script> 
        {% endblock bottom_javascript%}
    </body>
</html>