{% extends "base.html" %}

{% load parseImagejson %}

{% load zip %}

{% block title %}Game Details{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen" />
{% endblock head %}

{% block navbar %}
	<!--h4 class="pull-left">Login</h4-->
{% endblock navbar %}
{% block body %}
	<div class="row-fluid plain_view">
		<div class="span12">
			{% if game.banner %}
				<div class="banner">
					<img src="{{ game.banner }}" />
				</div>
			{% endif %}
			<div class="left_cont">
				<div class="game_container">
					<img class="MR15 thumb" src="{% parseImagejson game.boxarts 'thumbnailFront' %}" />
					<h4 class="title">{{ game.title }}</h4>
					
					<div class="clearfix">
						<ul class="extra_info">
							<li><span class="term">Platforms: </span>
								<span>{{ game.platform }}</span>
							</li>
							<li><span class="term">Developer: </span><span>{{ game.developer }}</span></li>
							<li><span class="term">Publisher: </span><span>{{ game.publisher }}</span></li>
							<li><span class="term">Genre: </span>
								<span>
									{% for genre in game.genres.all %}
										{{ genre }}{% if not forloop.last %}, {% endif %}
									{% endfor %}
								</span>
							</li>
							<li><span class="term">Release Date: </span><span>{{ game.release_date }}</span></li>
							<li><span class="term">ESRB: </span><span>{{ game.esrb }}</span></li>
							<li><span class="term">Players: </span><span>{{ game.players }}</span></li>
							<li><span class="term">Co-op: </span><span>{% if game.co_op %}Yes{% else %}No{% endif %}</span></li>
						</ul>
					</div>
					<div class="desc_row">
						<div class="head">Overview</div>
						<div>{%if game.overview %} {{ game.overview }} {% else %}This information is currently unavailable{% endif %}</div>
					</div>
					{% if youtube_vcode %}
						<div class="videos">
							<div class="head">Videos</div>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/{{ youtube_vcode }}" frameborder="0" allowfullscreen></iframe>
						</div>
					{% endif %}
					{% if screenshots.thumbnail %}
						<div class="desc_row screens">
							<div class="head">Screenshots</div>
							<div class="thumbs">
								{% for thumb in screenshots.thumbnail %}
									<img class="MR15 thumb" src="{{ thumb }}" />
								{% endfor %}
							</div>
						</div>
					{% endif %}				

					{% if fanarts.thumbnail %}
						<div class="desc_row screens">
							<div class="head">Fan art</div>
							<div class="thumbs">
								{% for thumb, original in fanarts.thumbnail|zip:fanarts.original %}
									<a href="{{ original }}" rel="{% if fanarts.thumbnail|length > 1 %}prettyPhoto[fanarts]{% else %}prettyPhoto{% endif %}" class="thumb"><img class="MR15" src="{{ thumb }}" /></a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock body%}

{% block bottom_javascript%}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto({
				animation_speed: 'fast', /* fast/slow/normal */
				slideshow: 3000, /* false OR interval time in ms */
				autoplay_slideshow: false, /* true/false */
				opacity: 0.80, /* Value between 0 and 1 */
				show_title: true, /* true/false */
				allow_resize: true, /* Resize the photos bigger than viewport. true/false */
				default_width: 500,
				default_height: 344,
				counter_separator_label: '/', /* The separator for the gallery counter 1 "of" 2 */
				theme: 'dark_rounded', /* light_rounded / dark_rounded / light_square / dark_square / facebook */
				horizontal_padding: 20, /* The padding on each side of the picture */
				hideflash: false, /* Hides all the flash object on a page, set to TRUE if flash appears over prettyPhoto */
				wmode: 'opaque', /* Set the flash wmode attribute */
				autoplay: true, /* Automatically start videos: True/False */
				modal: false, /* If set to true, only the close button will close the window */
				deeplinking: true, /* Allow prettyPhoto to update the url to enable deeplinking. */
				overlay_gallery: true, /* If set to true, a gallery will overlay the fullscreen image on mouse over */
				keyboard_shortcuts: true, /* Set to false if you open forms inside prettyPhoto */
				changepicturecallback: function(){}, /* Called everytime an item is shown/changed */
				callback: function(){}, /* Called when prettyPhoto is closed */
				ie6_fallback: true,
				social_tools: false /* html or false to disable */
			});
		});
	</script>
{% endblock bottom_javascript%}