{% extends "base.html" %}

{% load parseImagejson %}
{% load isUserGame %}

{% block title %}Game List{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Login</h4-->
{% endblock navbar %}
{% block body %}
	<div class="action_bar">
		<div class="container">
			<div class="row">
				<form id="game_search_form">
					<div class="col-lg-6 col-sm-6 MT5">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
							</span>
							<input type="text" placeholder="Search" name="search" class="form-control" value="{% if search_string %}{{ search_string }}{% endif %}"/> 
						</div>
					</div>
					<div class="col-lg-3 col-sm-3 MT5">
						<div class="input-group">
							<span class="input-group-addon">Genre</span>
							<select name="genre" class="form-control">
								<option value="0">All</option>
								{% for genre in genres %}
									<option value="{{ genre.id }}" {% if genre.id == selected_genre %}selected{% endif %}>{{genre}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-3 col-sm-3 MT5">
						<div class="input-group">
							<span class="input-group-addon">Platforms</span>
							<select name="platform" class="form-control">
								<option value="0">All</option>
								{% for platform in platforms %}
									<option value="{{ platform.id }}" {% if platform.id == selected_platform %}selected{% endif %}>{{ platform }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row plain_view">
			<div class="left_cont col-lg-8 col-12">
				<div class="title">Browse all your favorite Games</div>				
				<div class="gamelist">
					{% for game in games %}

						<div class="game row-fluid" data-gameid="{{ game.id }}" data-gametitle="{{ game.title }}">
							<div class="FL">
								<a href="{% url gamedetails game.id %}">
									<img class="thumbnail ML10" data-src="holder.js/160x120" src="{% parseImagejson game.boxarts 'thumbnailFront' %}" alt="{{ game.title }}">
								</a>
							</div>
							<div class="details FL">
								<div class="title"><a href="{% url gamedetails game.id %}">{{ game.title }}</a></div>
								<ul class="extra_info">
									{% if game.platform %}
										<li><span class="term">Platforms: </span>
											<span>{{ game.platform }}</span>
										</li>
									{% endif %}
									{% if game.genre %}
										<li><span class="term">Genre: </span>
											<span>
												{% for genre in game.genres.all %}
													{{ genre }}{% if not forloop.last %}, {% endif %}
												{% endfor %}
											</span>
										</li>
									{% endif %}
									{% if game.developer %}
										<li><span class="term">Developer: </span>
											<span>{{ game.developer }}</span></li>
									{% endif %}
									{% if game.publisher %}
										<li><span class="term">Publisher: </span>
											<span>{{ game.publisher }}</span></li>
									{% endif %}
								</ul>
								<div class="CL"></div>
								<div class="rating FL"><span>{{ game.rating }}</span></div>
							</div>
							{% if user.is_authenticated %}
								<div class="FR"><input class="check_game" type="checkbox" {% isUserGame user game %} /></div>
								<!-- <div class="actions FR">
									<div class="btn-toolbar">
										<div class="btn-group">
											<a class="btn btn-small" href="#" title="Add to Favorites"><i class="icon-heart"></i></a>
											<a class="btn btn-small" href="#" title="Mark as Owned"><i class="icon-th-large"></i></a>
											<a class="btn btn-small" href="#" title="Mark as Played"><i class="icon-play"></i></a>
											<a class="btn btn-small" href="#" title="Add to Wishlist"><i class="icon-flag"></i></a>
										</div>
									</div>
								</div> -->
							{% endif %}
						</div>
					{% empty %}
						<div>Sorry, no Games in this list!</div>
					{% endfor %}
				</div>
				{% if is_paginated %}
			        <div class="ML10">
			            <ul class="pagination">
			                {% if page_obj.has_previous %}
			                    <li><a href="{% url gamelist %}?page={{ page_obj.previous_page_number }}{% if search_string %}&search={{ search_string }}{% endif %}{% if selected_genre %}&genre={{selected_genre}}{% endif %}{%if selected_platform %}&platform={{selected_platform}}{% endif %}">previous</a></li>
			                {% endif %}
			                	<li>
			                		<span class="page-current">
					                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					                </span>
					            </li>
			                {% if page_obj.has_next %}
			                    <li><a href="{% url gamelist %}?page={{ page_obj.next_page_number }}{% if search_string %}&search={{ search_string }}{% endif %}{%if selected_genre %}&genre={{selected_genre}}{% endif %}{%if selected_platform %}&platform={{selected_platform}}{% endif %}">next</a></li>
			                {% endif %}
			            </ul>
			        </div>
				{% endif %}
			</div>
			<div class="right_cont col-lg-4 col-12">
				<div class="box">
					<div class="title">Recommended Games</div>
					<div class="cont">
						<ul>
							<li>Sorry, no Games in this list!</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body%}

{% block bottom_javascript%}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.gamelist').on('click', '.check_game', function(){				
				var _this = $(this),
					game_row = _this.parentsUntil('.game').parent(),
					game_id = game_row.data('gameid'),
					game_title = game_row.data('gametitle'),
					is_checked = $(this).is(':checked');			
				if(is_checked)
				{
					game_task = 1;
				} else {
					game_task = 2;
				}
				$.ajax({
					url: "{% url managelist %}",
					type: "POST",
					data: {"game_id": game_id, "game_task": game_task},
					success: function(data){
						//console.log(data);
						var msg_obj = {};
						if(is_checked){
							msg_obj = {"type": "text", "msg": "'<strong>"+ game_title +"</strong>' has been added to your list!!!"};
						}else{
							msg_obj = {"type": "text", "msg": "'<strong>"+ game_title +"</strong>' has been removed from your list!!!"}
						}
						utils.notifyMe(msg_obj);
					}
				});
			});

			$('#game_search_form').on('change', 'select', function(){
				$('#game_search_form').submit();
			});
		});
	</script>
{% endblock bottom_javascript%}
