{% extends "base.html" %}

{% block title %}{{ view_type }}Home{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Home</h4-->
{% endblock navbar %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="left_cont span9 view profile_view bg_white">
				<div class="left">
					<div class="profile TC">
						{% if user.userprofile.avatar %}<img src="{{ user.userprofile.avatar }}" />{% else %}
						<img src="/static/img/default_profile_pic.jpg" />{% endif %}
						<span>{{ user.username }}</span>
					</div>
				</div>
				<div class="right">
					<div class="cover_pic">
						{% if user.userprofile.cover %}<img src="{{ user.userprofile.cover }}" />{% else %}<div class="info">Goto 'Edit Profile' and add your own cover photo!!!</div>{% endif %}
					</div>
					<div class="MT10 clearfix">
						<a href="{% url useredit %}" class="btn btn-info pull-right MR10">Edit Profile</a>
					</div>
					<ul class="prof_details">
						<li>
							<span class="field">First name:</span>
							<span class="field_value">{{ user.first_name }}</span>
						</li>
						<li>
							<span class="field">Last name:</span>
							<span class="field_value">{{ user.last_name }}</span>
						</li>
						<li>
							<span class="field">Email:</span>
							<span class="field_value">{{ user.email }}</span>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="right_cont span3">
				<div class="box">
					<div class="title">Recommended Games</div>
					<div class="cont">
						<ul>
							{% for game in recommendedGames %}
								<li><a href="{% url gamedetails game.id %}">{{ game }}</a></li>
								{% empty %}
							<div>Sorry, no Games in this list!</div>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
{% endblock body%}