{% extends "base.html" %}

{% load parseImagejson %}

{% block title %}Game List{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block body %}
	<div class="container">
		<div class="row plain_view">
			<div class="left_cont col-lg-8 col-12 MT10">
				<div class="gamelist mygamelist PA10">
					{% if not error %}
						<h4>{{ user.first_name }}'s Game List ({{ user.username }})</h4>
						<div class="panel panel-primary">
							<div class="panel-heading">Currently playing</div>
							<ul class="list-group">
								{% for link in games.current %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">Completed playing</div>
							<ul class="list-group">
								{% for link in games.completed %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">On hold</div>
							<ul class="list-group">
								{% for link in games.onhold %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>
						
						<div class="panel panel-primary">
							<div class="panel-heading">Dropped playing</div>
							<ul class="list-group">
								{% for link in games.dropped %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">Not started yet</div>
							<ul class="list-group">
								{% for link in games.notstarted %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-warning">
							<div class="panel-heading">My owned games</div>
							<ul class="list-group">
								{% for link in games.owned %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-warning">
							<div class="panel-heading">My Favorites</div>
							<ul class="list-group">
								{% for link in games.favorite %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-warning">
							<div class="panel-heading">Wishlist</div>
							<ul class="list-group">
								{% for link in games.wish %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>

						<div class="panel panel-info">
							<div class="panel-heading">Miscellaneous</div>
							<ul class="list-group">
								{% for link in games.misc %}
									<li class="list-group-item"><a href="{% url gamedetails link.game.id %}">{{ link }}</a></li>
								{% empty %}
									<li class="list-group-item">Sorry, no Games in this list!</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<div class="alert">
							<strong>Oh snap!</strong> Best check yo self, you're looking for a user that does not exist.
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock body%}