{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block navbar %}
	<!--h4 class="pull-left">Login</h4-->
{% endblock navbar %}
{% block body %}
	<div class="container">
		<div class="row-fluid cont_brdr view">
			<div class="span12">
				<form class="form-horizontal" method="post">
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="first_name">First name</label>
						<div class="controls">
							<input class="pull-left" type="text" id="first_name" name="first_name" placeholder="First Name" required  maxlength="255" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"/>
							<div class="text-error">{{ form.first_name.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="last_name">Last name</label>
						<div class="controls">
							<input class="pull-left" type="text" id="last_name" name="last_name" placeholder="Last Name" required  maxlength="255" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"/>
							<div class="text-error">{{ form.last_name.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="username">Email</label>
						<div class="controls">
							<input class="pull-left" type="text" id="username" name="username" placeholder="Email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" maxlength="30" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"/>
							<div class="text-error">{{ form.username.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password1">Password</label>
						<div class="controls">
							<input class="pull-left" type="password" id="password1" name="password1" placeholder="Password" required />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password2">Confirm Password</label>
						<div class="controls">
							<input class="pull-left" type="password" id="password2" name="password2" placeholder="Confirm Password" required oninput="confirm_pwd(this);" />
							<div class="text-error">{{ form.password2.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="captcha_1"><img src="" alt="captcha" id="img_captcha" class="captcha"></label>
						<div class="controls">
							<input type="hidden" name="captcha_0" value="" id="id_captcha_0">
							<input type="text" name="captcha_1" id="id_captcha_1" class="pull-left MR10" required />
							<a href="#" class='btn pull-left' id='captcha-refresh' data-url='{% url captcha %}'><i class="icon-refresh"></i></a>
							<div class="text-error">{{ form.captcha.errors }}</div>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
						<label></label>
						<button type="submit" class="btn btn-primary">Submit</button>
						<a href="{% url login %}" class="btn">Cancel</a>
						</div>
					</div>
					{% if form.non_field_errors %}
						<div class="alert alert-error">
							{{ form.non_field_errors }}
						</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock body%}

{% block bottom_javascript%}
	{{ block.super }}
	<script type="text/javascript">
		//Function to validate if both the passwords match
		function confirm_pwd(input) {
			if (input.value != document.getElementById('password1').value) {
				input.setCustomValidity('The two passwords must match.');
			} else {
				// input is valid -- reset the error message
				input.setCustomValidity('');
			}
		}

		//Fuction to refresh captcha
		function refresh_captcha(){
			var url = $('#captcha-refresh').data('url');
			
			$.getJSON(url, {}, function(json) {
				$('#img_captcha').attr('src',json.image);
				$('#id_captcha_0').val(json.key);
			});
		}

		$(document).ready(function(){
			$('#captcha-refresh').click(function(){
				refresh_captcha();
				return false;
			});
			refresh_captcha();
		});
	</script>

{% endblock bottom_javascript%}